Repository thingsboard/thingsboard-gateway, pull requests merged in 2025-08, with the labels that each got.

#1895 Added unit tests for RPC and attribute updates for OPC-UA connector
  tests/unit/connectors/opcua/data/attribute_updates/opcua_config_attribute_update_full_path.json
  tests/unit/connectors/opcua/data/attribute_updates/opcua_config_attribute_update_identifier.json
  tests/unit/connectors/opcua/data/rpc/opcua_config_empty_section_rpc.json
  tests/unit/connectors/opcua/data/rpc/opcua_config_multiple_methods_section.json
  tests/unit/connectors/opcua/data/rpc/opcua_config_rpc_partly_defined_arguments.json
  tests/unit/connectors/opcua/data/rpc/opcua_config_rpc_with_no_values.json
  tests/unit/connectors/opcua/data/rpc/opcua_config_rpc_with_values.json
  tests/unit/connectors/opcua/opcua_base_test.py
  tests/unit/connectors/opcua/test_on_attribute_updates.py
  tests/unit/connectors/opcua/test_server_side_rpc.py
  tests/unit/service/test_storage.py
  thingsboard_gateway/connectors/opcua/device.py
  thingsboard_gateway/connectors/opcua/entities/__init__.py
  thingsboard_gateway/connectors/opcua/entities/rpc_request.py
  thingsboard_gateway/connectors/opcua/opcua_connector.py
  thingsboard_gateway/gateway/constants.py
Labels: core, Connector:OPC-UA

#1916 fix logic for parsing arguments with different delimiter
  tests/unit/connectors/opcua/test_server_side_rpc.py
  thingsboard_gateway/connectors/opcua/entities/rpc_request.py
Labels: bug, Connector:OPC-UA, Ignore for release

#1918 Added more explicit logic for incorrect device rpc types
  tests/unit/connectors/opcua/test_server_side_rpc.py
  thingsboard_gateway/connectors/opcua/device.py
  thingsboard_gateway/connectors/opcua/opcua_connector.py
Labels: Connector:OPC-UA

#1923 Fixed error with incorrect attribute update after OPC-UA server disconnnect
  thingsboard_gateway/connectors/opcua/opcua_connector.py
Labels: bug, Connector:OPC-UA

#1926 Fixed reading wildcard object id
  thingsboard_gateway/connectors/bacnet/entities/uplink_converter_config.py
Labels: bug, Connector:BACnet

#1925 add licences to the opcua files
  tests/unit/connectors/opcua/__init__.py
  tests/unit/connectors/opcua/opcua_base_test.py
  tests/unit/connectors/opcua/test_check_path.py
  tests/unit/connectors/opcua/test_on_attribute_updates.py
  thingsboard_gateway/connectors/opcua/__init__.py
  thingsboard_gateway/connectors/opcua/backward_compatibility_adapter.py
  thingsboard_gateway/connectors/opcua/entities/__init__.py
  thingsboard_gateway/connectors/opcua/entities/rpc_request.py
Labels: bug, Connector:OPC-UA, Ignore for release

#1928 Removed extra log and fixed condition for task_completion flag
  thingsboard_gateway/connectors/opcua/opcua_connector.py
Labels: bug, Connector:OPC-UA

#1932 For release
  thingsboard-gateway-offline.spec
  thingsboard-gateway.spec
  thingsboard_gateway/version.py
Labels: core, Ignore for release

#1935 fix/fix sqlite storage tests
  tests/unit/service/test_storage.py
Labels: bug, Ignore for release

#1931 BACnet schedular support
  thingsboard_gateway/connectors/bacnet/bacnet_connector.py
  thingsboard_gateway/connectors/bacnet/bacnet_uplink_converter.py
Labels: Connector:BACnet

#1933 Added proxy functionality
  requirements.txt
  thingsboard_gateway/gateway/tb_client.py
Labels: core

#1940 Corrected number of arguments for logger
  thingsboard_gateway/connectors/opcua/opcua_connector.py
Labels: bug, Connector:OPC-UA

#1937 fix: proxy settings from env vars
  thingsboard_gateway/tb_utility/tb_utility.py
Labels: core

#1951 Fixed error with incorrect rpc request handling
  thingsboard_gateway/connectors/knx/knx_connector.py
Labels: bug, Connector:KNX
