Repository thingsboard/thingsboard-gateway, pull requests merged in 2025-09, with the labels that each got.

#1960 Changed data file path for sqlite storage
  thingsboard_gateway/config/tb_gateway.json
Labels: Ignore for release

#1968 Fixed connect to device requests spamming
  thingsboard_gateway/connectors/ble/device.py
Labels: bug, Connector:BLE

#1970 Fixed finding device name/profile from relative node path
  thingsboard_gateway/connectors/opcua/opcua_connector.py
Labels: bug, Connector:OPC-UA

#1972 Fixed two-way RPC processing
  thingsboard_gateway/connectors/mqtt/mqtt_connector.py
  thingsboard_gateway/gateway/tb_gateway_service.py
Labels: bug, Connector:MQTT

#1975 Fixed discovering advertising beacons
  thingsboard_gateway/connectors/ble/ble_connector.py
  thingsboard_gateway/connectors/ble/device.py
Labels: bug, Connector:BLE
