Repository thingsboard/thingsboard-gateway, pull requests merged in 2025-07, with the labels that each got.

#1858 Fixed devices deleting in OPC-UA
  thingsboard_gateway/connectors/opcua/opcua_connector.py
Labels: Bug

#1864 Fixed processing serial devices in Modbus connector
  thingsboard_gateway/connectors/modbus/modbus_connector.py
Labels: Bug, Modbus

#1871 Fixed handling of foreign application in BACnet connector
  thingsboard_gateway/connectors/bacnet/application.py
  thingsboard_gateway/connectors/bacnet/bacnet_connector.py
  thingsboard_gateway/connectors/bacnet/foreign_application.py
Labels: bug, Connector:BACnet

#1875 Fixed problem with attribute updates that contain JSON data
  thingsboard_gateway/connectors/mqtt/mqtt_connector.py
Labels: bug, Connector:MQTT

#1874 Added data unpack functionality in Request connector
  thingsboard_gateway/config/request.json
  thingsboard_gateway/connectors/request/request_connector.py
Labels: Connector:Request

#1881 Fixed adding extra datapoints and device filtering by device id for BACnet connector
  thingsboard_gateway/connectors/bacnet/bacnet_uplink_converter.py
  thingsboard_gateway/connectors/bacnet/device.py
Labels: bug, Connector:BACnet

#1883 Updated python required version
  setup.py
Labels: core

#1887 feature/adjust sqliteventstorage
  tests/unit/service/test_storage.py
  thingsboard_gateway/storage/sqlite/database.py
  thingsboard_gateway/storage/sqlite/sqlite_event_storage.py
Labels: core

#1893 remove unnecessary test assertions for sqlite database rotation storage
  tests/unit/service/test_storage.py
Labels: Ignore for release

#1894 Fixed slave context
  thingsboard_gateway/connectors/modbus/entities/slave_context.py
  thingsboard_gateway/connectors/modbus/server.py
Labels: bug, Connector:Modbus, Ignore for release

#1873 Bugfixs for Request connector JSON downlink converter
  thingsboard_gateway/config/request.json
  thingsboard_gateway/connectors/request/json_request_downlink_converter.py
  thingsboard_gateway/connectors/request/request_connector.py
Labels: bug, Connector:Request

#1872 Bugfixes for REST connector JSON downlink converter
  thingsboard_gateway/config/rest.json
  thingsboard_gateway/connectors/rest/json_rest_downlink_converter.py
  thingsboard_gateway/connectors/rest/rest_connector.py
Labels: bug, Connector:REST

#1900 Fixed modbus gateway slave stopping
  thingsboard_gateway/connectors/modbus/modbus_connector.py
  thingsboard_gateway/connectors/modbus/server.py
Labels: bug, Connector:Modbus

#1902 Fixed gateway upgrading instructions
  for_build/DEBIAN/postinst
  thingsboard-gateway.spec
Labels: bug

#1903 Fixed rpm build
  thingsboard-gateway.spec
Labels: bug, Ignore for release
